body {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    width: 80%;
    margin: 20px auto; 
    background-color: rgb(255, 255, 255); 
}    

.header {
    display: flex;
    border: 15px solid black;
    background-color: #46703c;
    padding: 15px;
    gap: 10px; 
}

.logo, .nav, .social {
    background-color: #fc7465;
    padding: 10px;
    flex-grow: 1;
}

.nav {
    flex-grow: 4;
}

.bannerContent {
    display: flex;
    border-bottom: 15px solid black;
    border-right: 15px solid black;
    border-left: 15px solid black;
    background-color: coral;
    padding: 15px;
    gap: 10px;
}

.banner {
    background-color: #f1c40f;
    padding: 10px;
    flex-grow: 5;
    font-size: 30px;
    font-weight: bold;
}

.content {
    display: flex;
}

.articles {
    display: flex;
    flex: 3.5;
    border: 15px solid black;
    flex-wrap: wrap; 
    background-color: #2c3e50;
    padding: 15px 15px;
}

.article {
    flex: 1 1 35%; 
    background-color: #3498db;
    padding: 10px;
    margin-bottom: 15px;

}

#article2, #article4 {
    margin-right: 0;
    margin-left: 15px;
}

.navigation {
    background-color: #95a5a6;
    padding: 10px;
    flex: 1 1 100%;

}

.sidebar {
    display: flex;
    flex: 1; 
    background-color: #e74c3c;
    border-top: 15px solid black;
    border-right: 15px solid black;
    border-bottom: 15px solid black;
    flex-direction: column;
    padding-bottom: 15px;
}

.publicidad {
    background-color: #f1c40f;
    color: black;
    padding: 10px;            
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.footer {
    background-color: #bdc3c7;
    border: 15px solid black;
    padding: 10px;
}

.spacer {
    height: 15px; 
    background-color: white;
}


@media screen and (max-width: 900px) {

    .content {
        display: flex;
        flex-direction: column;
    }

    .articles {
        flex: 1 1 auto;
    }

    .sidebar {
        flex: 1 1 auto;
        order: 2;
        border-left: 15px solid black;
        border-top: 0px;
    }

    body, .spacer {
        background-color: lightblue;
        
    }

}

@media screen and (max-width: 600px) {
    
    .content {
        display: flex;
        flex-direction: column;
    }

    .header {
        display: flex;
        flex-direction: column;
    }

    .articles {
        display: flex;
        flex-direction: column;
        padding: 15px;
    }

    #article2, #article4 {
        margin-left: 0px;
    }

    body, .spacer {
        background-color: yellowgreen;
    }
    
}


.logo {
    transition: transform 0.4s ease, background-color 0.4s ease;
}

.logo:hover {
    transform: scale(1.2);
    background-color: red;
}
